.switch {
  width: 60px;
  height: 34px;
  position: relative;
}

input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ccc;
  cursor: pointer;
}

.slider::before {
  content: "";
  width: 26px;
  height: 26px;
  background-color: white;
  position: absolute;
  left: 4px;
  bottom: 4px;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 26px;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.navbar {
  padding: 3%;
}

.status {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  box-shadow: 1px 1px 10px 1px rgb(255, 0, 0);
  transition: .4s;
}

.status.active {
  background-color: rgb(0, 255, 0);
  box-shadow: 1px 1px 10px 1px rgb(0, 255, 0);
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #ff8800;
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

hr {
  margin: 0;
  box-shadow: 1px 1px 10px 1px gray;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "caudex", sans-serif;
}

.content {
  padding: 3%;
  font-family: 'Raleway', sans-serif;
}

.dashboardIcon {
  background-color: #d97a0f;
  color: white;
  padding: 5%;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease-in-out;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.dashboardIcon:hover {
  background-color: #ff8800;
}

.iconText {
  
  margin-left: 10px;
}

.iconText p {
  margin: 0;
  font-weight: 700;
}

.raleWay {
  font-family: 'Raleway', sans-serif;
}

.caudex {
  font-family: "caudex", sans-serif;
}