.switch {
  width: 60px;
  height: 34px;
  position: relative;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
}

.slider::before {
  content: "";
  width: 26px;
  height: 26px;
  background-color: white;
  position: absolute;
  left: 4px;
  bottom: 3px;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 26px;
}

input:checked + .slider::before {
  transform: translateX(26px);
  background-color: white;
}

.navbar {
  padding: 3%;
  background-color: #f4765b;
  color: white;
}

.status {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  box-shadow: 1px 1px 10px 1px rgb(255, 0, 0);
  transition: .4s;
}

.status.active {
  background-color: rgb(0, 255, 0);
  box-shadow: 1px 1px 10px 1px rgb(0, 255, 0);
}

.profile {
  width: 60px;
  display: flex;
  justify-content: center;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #d97a0f;
  box-shadow: 1px 1px 10px 1px white;
}

hr {
  margin: 0;
  box-shadow: 0px 2px 4px 2px #adaaaa;
}

.row {
  width: 100%;
  margin: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "caudex", sans-serif;
}

.content {
  padding: 5%;
  font-family: 'Raleway', sans-serif;
  position: relative;
  background-color: #faeada;
}

.location {
  background-color: #faeada;
}

.grayOut {
  /* position: absolute; */
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: white;
  transition: .4s ease-in-out;
}

.grayOut h1 {
  font-weight: 700;

}

.dashboardIcon {
  background-color: #f4765b;
  color: white;
  padding: 5%;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease-in-out;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  box-shadow: 1px 1px 10px 1px #ccc ;
}

.dashboardIcon:hover {
  background-color: #ff8800;
}

.iconText {
  width: 70px;
  margin-left: 10px;
}

.iconText p {
  margin: 0;
  font-weight: 700;
}

.goals {
  background-color: #f4765b;
  padding: 3%;
  border-radius:10px;
  color: white;
  box-shadow: 1px 1px 10px 1px #ccc;
  font-weight: 700;
}

.goals p {
  font-size: 1.2rem;
  /* width: 50%; */
}

.identifiers span{
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}

.reviews {
  max-height: 300px;
  overflow: scroll;
  margin-bottom: 50px;
  background-color: transparent;
}

tr {
  background-color: transparent;
}

td {
  font-weight: 550;
  background-color: transparent!important;
}

th {
  background-color: transparent!important;
}

.taskbar {
  position: fixed;
  background-color: white;
  height: 50px;
  bottom: 0;
  color: black;
  width: 100%;
}

.CircularProgressbar-text {
  font-family: "Raleway", sans-serif;
}

.taskbar .icon.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #f4765b;
  color: white;
  box-shadow: 1px 1px 10px 1px #adaaaa;
}

.transactions {
  background-color: #faeada;
  height: 100vh;
}

.greetings {
  padding: 3%;
  background-color: #f4765b;
  color: white;
}

.jumbotron {
  background-color: #faeada;
  color: black;
}

.notifications {
  height: 100vh;
  background-color: #faeada;
}

.notification {
  padding: 3%;
  font-size: 14px;
  
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px gray;
  margin: 10px 3% 10px;
  position: relative;
}

.notification.active {
  font-weight: bold;
  text-shadow: 1px 1px gray;
  background-color: #f4765b;
  color: white;
}

.notification.active .view {
  border-color: white;
}

.notificationsSpace {
  max-height: 83vh;
  overflow: scroll;
}

.notification button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  padding: 3%;
  margin-right: 10px;
  box-shadow: 1px 1px 5px 1px gray;
}

.notification button i {
  margin-left: 10px;
}

.expired {
  background-color: #f45b5b;
  padding: 5%;
  width: fit-content;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
}

.view {
  display: inline-flex;
  border: 1px solid black;
  padding: 2px;
  border-radius: 50%;
  font-size: 10px;
  align-items: center;
  justify-content: center;

}

.service {
  transition: all 1s ease-in-out;
  height: 0;
  opacity: 0;
}

.acceptService {
  padding: 6%;
  background-color: #faeada;
  height: 80vh;
  position: relative;
}

.inputs input {
  opacity: 1;
  height: 30px;
  width: 30px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #D9D9D9;
  text-align: center;
  font-family: 'roboto', sans-serif;
  font-weight: bold;
  color: rgb(113, 113, 113);
  box-shadow: 0px 0px 5px 2px rgb(203, 203, 203);
}

.inputs input:focus {
  outline: none;
}

.btnGroup {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.btnGroup .button {
  border: none;
  padding: 4%;
  color: white;
  font-weight: 600;
}


.cancelBtn {
  width: 50%;
  background-color: #FA6666;
}

.delayBtn {
  width: 50%;
  background-color: #FCC25D;
}

.password .input input {
  background-color: transparent;
  padding: 0;
  border: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.password .input {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

.password .input img {
  object-fit: contain;
  height: 20px;
  width: 20px;
}

.insurance {
  background-color: #FCC25D;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 25%);
}

.claim {
  border-radius: 8px;
  padding: 10px 12px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 50%);
  border: none;
  width: 50%;
  margin-bottom:20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.banner {
  height: 100vh;
  background-color: #FA6666;
}

.banner_title {
  font-size: 3rem;
  width: 50%;
  color: white;
}

.raleWay {
  font-family: 'Raleway', sans-serif;
}

.caudex {
  font-family: "caudex", sans-serif;
}

.roboto {
  font-family: 'roboto', sans-serif;
}

.lemon {
  font-family: "Lemon", serif;
}